.slider.slider-horizontal{
  width: 10vw;
}

#deploy-antivirals-slider .slider-selection {
	background: #BABABA;
	width: 1000px;
}

#deploy-vaccines-slider .slider-selection {
	background: #BABABA;
}

#deploy-ventilators-slider .slider-selection {
	background: #BABABA;
}

#antivirals-orders-slider .slider-selection {
	background: #BABABA;
}

#vaccines-orders-slider .slider-selection {
	background: #BABABA;
}
#ventilators-orders-slider .slider-selection {
	background: #BABABA;
}

#slider-orders-Antivirals{
	width: 9vw;
}

#slider-orders-Vaccines{
	width: 9vw;
}

#slider-orders-Ventilators{
	width: 9vw;
}

.playerRightCol {
  height: 90vh
}

.chatBody {
  height: 80%;
  overflow-y: scroll;
}
