.slider.slider-horizontal{
  width: 10vw;
}

#deploy-antivirals-slider .slider-selection {
	background: #BABABA;
	width: 1000px;
}

#deploy-vaccines-slider .slider-selection {
	background: #BABABA;
}

#deploy-ventilators-slider .slider-selection {
	background: #BABABA;
}

#antivirals-orders-slider .slider-selection {
	background: #BABABA;
}

#vaccines-orders-slider .slider-selection {
	background: #BABABA;
}
#ventilators-orders-slider .slider-selection {
	background: #BABABA;
}

#slider-orders-Antivirals{
	width: 9vw;
}

#slider-orders-Vaccines{
	width: 9vw;
}

#slider-orders-Ventilators{
	width: 9vw;
}

.playerRightCol {
  height: 90vh
}

.chatBody {
  height: 80%;
  overflow-y: scroll;
}

.arcMeter .background{
  fill: #d0d1e6;
}

.arcMeter .foreground {
  fill: #045a8d;
}

.arcMeter .variableName {
  font-size: 10px;
  color: #778899;
}

.arcMeter .indValue {
  font-size: 20px;
}

.subtitle {
  font-size: 10px;
}

.bullet .measure { fill: steelblue; }
.bullet .range.s0 { fill: #ccc; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #eee; }
.bullet .title { font-size: 9px;font-weight: bold; }
.bullet .subtitle { font-size: 8px;fill: #999; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .tick text {font-size: 8px}
