.tsLine {
  fill: none;
	stroke-width: 3;
}

.tsCaseStudy{
  fill: none;
	stroke: #d3d3d3;
  opacity: 0.5;
  stroke-width: 2;
}



.sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

.sparkcircle{
  fill: #f00;
  stroke: none;
}

.csPoint{
  fill: grey;
}

.text-value {
  color: #f00;
  font-size: 14px
}

.svgSparkline{
  display: block;
  margin-bottom: 25px;
  cursor: pointer;
}

.splBackground{
  fill: #FBFBFB;
}

.textCaseStudy {
  opacity: 0.80;
}

.tblCaseStudy, td {
  border: 1px solid black;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.crcSusceptible {
  fill: blue;
}

.crcInfected {
  fill: red;
}

.crcRecovered {
  fill: green;
}

.link {
  stroke: lightgrey;
  fill: none;
}
.dominantLoop {
  stroke: black;
  fill: none;
}
